<nav class="responsiveNav">
	<button><h6>Menu Link Again</h6></button>
	<button><h6>Menu Link See</h6></button>
	<button><h6>Menu Link</h6></button>
	<button class="fill-button"><h6>Contact</h6></button>
</nav>
<button class="hamburguer">
	<span></span>
	<span></span>
	<span></span>
</button>
<div class="wrap">
	<header class="margin-bottom">
		<h1><a class="logo" href="/">{{company_name}}</a></h1>
		<nav>
			<button><h6>Menu Link Again</h6></button>
			<button><h6>Menu Link See</h6></button>
			<button><h6>Menu Link</h6></button>
			<button class="fill-button"><h6>Contact</h6></button>
		</nav>

		

		
	</header>
</div>